<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeatCasso</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'styles/style.css') }}"
    />
  </head>
  <body
    style="background-image: url('{{ url_for('static', filename = 'images/Background.png') }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"
  >
    <div class="nav-bar">
      <a href="/" style="text-decoration: none; color: inherit">
        <div class="small-logo-container">
          <img
            class="small-logo"
            src="{{ url_for('static', filename = 'images/Logo.svg') }}"
            alt="BeatCasso Logo"
          />
          <div class="logo-text">
            <div class="small-title">BeatCasso</div>
          </div>
        </div>
      </a>
    </div>
    <div class="content-wrapper">
      <div class="input-wrapper">
        <div class="searchbox-card">
          <input
            class="song-name-searchbox"
            type="text"
            placeholder="Enter your name"
          />
          <input
            class="artist-name-searchbox"
            type="text"
            placeholder="Enter your email"
          />
        </div>
        <button class="button generate-button" type="button">Generate</button>
        <div class="reset-text">Reset</div>
      </div>
    </div>
  </body>
</html>
