<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeatCasso</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename = 'styles/style.css') }}"
    />
  </head>
  <body>
    <div class="background-blur first"></div>
    <div class="background-blur second"></div>
    <div class="content">
      <div class="logo-container">
        <img class="logo"
          src="{{ url_for('static', filename = 'images/Logo.svg') }}"
          alt="BeatCasso Logo"
        />
        <div class="logo-text">
          <div class="title">BeatCasso</div>
          <div class="subtitle">Your Songs, Our Symphony</div>
        </div>
      </div>
      <div class="button-container">Start Generating</div>
    </div>
  </body>
</html>
