<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatCasso Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/Background.png') }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
<div class="nav-bar">
    <a href="/" style="text-decoration: none; color: inherit">
        <div class="small-logo-container">
            <img class="small-logo" src="{{ url_for('static', filename='images/Logo.svg') }}" alt="BeatCasso Logo"/>
            <div class="logo-text">
                <div class="small-title">BeatCasso</div>
            </div>
        </div>
    </a>
</div>
<div class="content-wrapper">
    <div class="input-wrapper">
        <div class="searchbox-card">
            <form method="POST">
                <input class="song-name-searchbox" type="text" name="song" placeholder="Enter song name" value="{{ song }}" required/>
                <input class="artist-name-searchbox" type="text" name="artist" placeholder="Enter artist name" value="{{ artist }}" required/>
                <div class="feature-filter" id="feature-filter">
                    <select id="features" name="primary_feature" required disabled>
                        <option value="" disabled selected>Filter By Feature</option>
                        {% for feature in features %}
                        <option value="{{ feature }}" {% if primary_feature == feature %}selected{% endif %}>{{ feature }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="button generate-button" type="submit" name="get_recommendations" disabled>Generate</button>
                <button class="button reset-button" type="button" onclick="window.location.href='/'">Go Back</button>
            </form>
        </div>
    </div>
    <div class="output-wrapper">
        <div class="output-title-container">
            <div class="output-title">Songs Picked for You</div>
        </div>
        <div class="generator-card">
            {% if recommendations is not none and not recommendations.empty %}
            <div id="recommendations">
                {{ recommendations.to_html(classes='data', header="true", index=False) | safe }}
            </div>
            {% else %}
            <div class="no-songs" id="no-songs">No recommendations found. Please check the song and artist name.</div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
