body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #111111;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  position: fixed;
  top: 50%; /* Adjust this value if needed */
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.button {
  width: 179px;
  height: 51px;
  background: #b5179e;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  border: none;
}
.button:hover {
  border-radius: 6.72px;
  border: 1px solid #e08cd3;
  background: rgba(181, 23, 158, 0.7);
}
.button:active {
  border-radius: 6.72px;
  border: 1px solid var(--Primary-1, #b5179e);
  background: var(--Secondary-1, #e08cd3);
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}
.logo-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.logo {
  height: 120px;
}
.title {
  color: #d9d9d9;
  font-size: 65px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.subtitle {
  text-align: center;
  color: #d9d9d9;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.small-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 17px;
  left: 17px;
  padding-right: 20px;
}

.small-logo {
  height: 33px;
}

.small-title {
  color: #d9d9d9;
  font-size: 22px; /* Consider using 'vw' units for responsiveness */
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.searchbox-card {
  width: 692px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 12.16px;
  border: 1.28px solid rgba(210, 210, 210, 0.29);
  background: linear-gradient(
    180deg,
    rgba(120, 120, 120, 0.1) 0.07%,
    rgba(84, 84, 84, 0.25) 53.93%
  );
  box-shadow: 0px 1.946px 1.946px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14.592012405395508px);
  display: flex;
}

.song-name-searchbox {
  display: flex;
  width: 328px;
  height: 48px;
  margin: 7px;
  padding: 0 0 0 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(18, 18, 18, 0.08);
  background: #fff;
}

.artist-name-searchbox {
  padding: 0 0 0 8px;
  display: flex;
  width: 328px;
  height: 48px;
  margin: 7px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(18, 18, 18, 0.08);
  background: #fff;
}

.input-wrapper {
  position: fixed;
  top: 50px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* .generator-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 260px; /* Added gap between generator area and input content 
} */

.generator-title {
  margin-left: 50px;
  font-size: 22px;
  width: 100%; 
  position: relative;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #f1f1f1;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.generator-card {
  width: calc(100% - 20px); 
  height: calc(100% - 20px); 
  position: relative;
  box-shadow: 0px 2.431999921798706px 2.43px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(36.48px);
  border-radius: 15.2px;
  background: linear-gradient(
    179.92deg,
    rgba(120, 120, 120, 0.1),
    rgba(84, 84, 84, 0.25)
  );
  border: 1.6px solid rgba(210, 210, 210, 0.29);
  box-sizing: border-box;
  margin: 0 10px 10px 10px; /* 10px margin on left, right, and bottom */
} */
